#work {
    .thumbnail {
	    a, a:hover {
		    color: $white;
	    }
        position: relative;
        opacity: 0;   
        @include transition(all 0.3s ease-in-out);
        .caption {
            @include position(absolute, 0, null, 0, 0);
            background: rgba(26, 188, 156, 0.9);
            color: $white;
            text-align: center;
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
            h3 {
                font-size: $font-size-h3 - 2;
                color: $white;
            }
            .extern-link {
                margin-top: 10px;
            }
            &:hover {
                opacity: 1;
            }
        } // end caption
        &.showing {
            opacity: 1;
        }
    } // end thumbnail
}
